<div class="about-sidebar">
	<ul>
		<li id="company-selected"><span>About Us<span></li>
		<li><span>Careers</span></li>
		<li><span>Partners</span></li>
		<li><span>Contact Us</span></li>
	</ul>
</div>