<% content_for :head do %>
	<%= stylesheet_link_tag 'static_pages' %>
<% end %>

<% provide(:title, 'About Us') %>

<div class="about-hero">
	<div class="em-buffer-1"></div>
	<div class="about-hero-content">
		<h1>Our mission: to get you objective, quality information about residences</h1>
		<div class="about-hero-desc-holder">
			<p>We are simplifying & democratizing the apartment finding process by collecting the most comprehensive database of apartment reviews ever</p>
		</div>	
	</div>
</div>


<div class="container">
	<div class="main-content-area">

		<div class="about-stripe">
			<h2>We were founded upon and operated on 3 principles</h2>
			<ul>
				<li id="left-stripe">
					<h3><span>1)</span> Renters should be empowered</h3>
					<p>Too often in the rental process, renters are taken advantage of. Whether it be excessive fees, surprise problems with units, or deceptive and unethical landlords, renters have had to cope with a number of unfair practices.</p> 

					<p>We want to hold both landlords/managers as well as middlemen accountable so that renters can be empowered</p>
				</li>

				<li id="middle-stripe">					
					<h3><span>2)</span> Numbers aren't enough</h3>
					<p>Your next potential home is more than a number of square feet and a monthly rent. It's also important to know about what the neighborhood is like, safety, the people you'll be living next to, the landlord, nightlife, etc.</p>

					<p>Thus, we strive to collect the kind of insider knowledge that only current or past residents of an apartment could know and provide it to you</p>
				</li>

				<li id="right-stripe">
					<h3><span>3)</span> Reciprocity is the key</h3>
					<p>Humans have evolved to not just look out for themselves, but to help others out of the understanding that reciprocal cooperation leads to better results for everyone</p>
					<p>At BreezeDigs, we believe that the everyone's living experience can be elevated by everyone contributing valuable information to hold landlords, managers, & agents accountable</p>
				</li>
			</ul>
		</div>

		<!--
		<div class="about-content">
			<h1>About Us</h1>
			<div class="about-people">
			</div>
		</div>
		-->

	</div>
</div>