<% content_for :head do %>
	<%= stylesheet_link_tag 'static_pages' %>
<% end %>

<% provide(:title, 'Contact Us') %>

<div class="container">
	<div class="main-content-area">
		<h1>We love hearing from our users and potential business partners. There are a number of ways to get in touch with us:</h1>
	<div class="contact-sidebar">
		<ul>
			<li>Support & technical questions</li>
			<li>Give us feedback</li>
			<li>Inquire about business opportunities</li>
		</ul>
	</div>

	<div class="contact-content">

	</div>

	</div>
</div>