<% content_for :head do %>
	<%= stylesheet_link_tag 'home' %>
<% end %>

<% provide(:title, 'Home') %>

<!-- Content Starts Here -->

<div class="main-content-area">
	<div class="container">

		<div class="main-box">
			Content
		</div>

		<div>
		</div>

		<div>
		</div>

	</div>
</div>
			