<% content_for :head do %>
	<%= stylesheet_link_tag 'how' %>
<% end %>

<% provide(:title, 'How it Works') %>
<div class="how-hero">
	<div class="container">
		<h1>The problem: Looking for apartments</h1>

		<!--
		<h2>The solution: Outsource everything to BreezeDigs and don't do anything but sign the lease</h2>

		<h3>Reports include:</h3>

		<ul><li>In-person photos</li><li>Neighborhood analysis</li><li>Landlord information</li><li>Lease terms</li><li>Tenant feedback when possible</li></ul>

		<h3>You can also request a "video walkthrough" of a potential apartment</h3>

		<%= link_to(raw(), example_path) %>
		-->

	</div>
</div>

<div class="how-area">
	<div class="container">

		<div class="half-box">
			<div class="dig-finder">
				<h1>For Dig Finders:</h1>
				<ul>
					<li>
						<ul>
							<li>
								<span>1</span>
							</li>
							<li>
								<h2>Apply to be a Dig Finder</h2>
							</li>
							<li>
								<p>
									Which neighborhood you're moving to, what your price range is, what is important to you, and any other preferences
								</p>
								<br><br>
							</li>
						</ul>
					</li>
					
					<li>
						<ul>
							<li>
								<span>2</span>
							</li>
							<li>
								<h2>Help curate apartment options</h2>
							</li>
							<li>
								<p>
									Which neighborhood you're moving to, what your price range is, what is important to you, and any other preferences
								</p>
								<br><br>
							</li>
						</ul>
					</li>

					<li>
						<ul>
							<li>
								<span>3</span>
							</li>
							<li>
								<h2>Scout apartments and report on them</h2>
							</li>
							<li>
								<p>
									Once selected by a Dig Seeker for a target apartment: Visit and give a detailed report with pictures
								</p>
								<br><br>
							</li>
						</ul>
					</li>

					<li>
						<ul>
							<li>
								<span>4</span>
							</li>
							<li>
								<h2>Get paid and build your reputation</h2>
							</li>
							<li>
								<p>
									The better your reports, the higher your ratings. Higher ratings means we keep less commission per report and you'll have an easier time getting more gigs in the future.
								</p>
								<br><br>
							</li>
						</ul>
					</li>

				</ul>
			</div>
		</div>

		<div class="half-box">
			<div class="dig-seeker">
				<h1>For Dig Seekers:</h1>
				<ul>
					<li>
						<ul>
							<li>
								<span>1</span>
							</li>
							<li>
								<h2>Let us know what you're looking for</h2>
							</li>
							<li>
								<p>
									Which neighborhood you're moving to, what your price range is, what is important to you, and any other preferences
								</p>
								<br><br>
							</li>
						</ul>
					</li>

					<li>
						<ul>
							<li>
								<span>2</span>
							</li>
							<li>
								<h2>Get a curated list of apartment options</h2>
							</li>
							<li>
								<p>
									Our qualified Dig Finders will search through a variety of online listings based on your preferences and submit their ideas for great places for you
								</p>
								<br><br>
							</li>
						</ul>
					</li>

					<li>
						<ul>
							<li>
								<span>3</span>
							</li>
							<li>
								<h2>Identify your target places</h2>
							</li>
							<li>
								<p>
									Select from the options curated by our Dig Finders or manually add your own. The options in your "target list" will get bid on by Dig Finders interested in scouting your options
								</p>
								<br><br>
							</li>
						</ul>
					</li>

					<li>
						<ul>
							<li>
								<span>4</span>
							</li>
							<li>
								<h2>Get Dig Finders to scout your targets</h2>
							</li>
							<li>
								<p>
									For the target options you are most interested in, you can choose to send a Dig Finder to visit the place and do research for you
								</p>
								<br><br>
							</li>
						</ul>
					</li>

					<li>
						<ul>
							<li>
								<span>5</span>
							</li>
							<li>
								<h2>Rate the reports and pay</h2>
							</li>
							<li>
								<p>
									Once you get a report back, rate its quality and pay the bid amount. Your rating determines how much commission we keep - the higher the rating, the more the Dig Finder keeps for the report.
								</p>
								<br><br>
							</li>
						</ul>
					</li>

					<li>
						<ul>
							<li>
								<span>6</span>
							</li>
							<li>
								<h2>Sign the lease</h2>
							</li>
							<li>
								<p>All you have to do is review the reports you get, make a decision, and make a confirmation visit to sign the lease</p>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>

	</div>
</div>


