<% content_for :head do %>
	<%= stylesheet_link_tag 'profile' %>
<% end %>

<% provide(:title, 'My Account') %>

<div class="container">
	
	<%= render 'profile_header' %>

	<div class="profile-content-area">
		
		<div class="move-placeholder">
			<h3>You have not created a move yet</h3>
			<%= link_to(raw("<button class=\"btn btn-primary btn-large\">Create your move</button>"), new_move_path) %>
		</div>

	</div>

</div>
