<% content_for :head do %>
	<%= stylesheet_link_tag 'profile' %>
<% end %>

<% provide(:title, 'My Account') %>

<div class="container">
	
	<%= render 'profile_header' %>

	<div class="profile-content-area">
		
		<div class="review-placeholder">
			
		</div>
	</div>
</div>
