<div class="rental-data-area">
	<div class="rental-data">
		<table class="table rental-table">
			<thead>
                <tr>
                  <th id="unit-type"><h3>Unit Type</h3></th>
                  <th id="avg-rent"><h3>Avg Rent</h3></th>
                  <th id="rent-prices-header">
                  	<ul class="rental-data-table-prices">
                  		<li id="first-rent-tick"><p>$0</p></li>
                  		<li><p>$0.5k</p></li>
                  		<li><p>$1k</p></li>
                  		<li><p>$1.5k</p></li>
                  		<li><p>$2k</p></li>
                  		<li><p>$2.5k</p></li>
                  		<li><p>$3k</p></li>
                  		<li><p>$3.5k</p></li>
                  		<li><p>$4k</p></li>
                  		<li><p>$4.5k</p></li>
                  		<li><p>$5k</p></li>
                  		<li><p>$5.5k</p></li>
                  		<li><p>$6k+</p></li>
                  	</ul>	
                  </th>
                </tr>
              </thead>
              <tbody>
              	<%= display_rental_data %>
              </tbody>
		</table>
	</div>
</div>