<% content_for :head do %>
	<%= stylesheet_link_tag 'moves' %>
<% end %>

<% provide(:title, 'Create a new move') %>

<div class="main-content-area">
	<h1>When is your targeted move-in date?</h1>

	<h1>Which neighborhoods are you interested in moving to?</h1>
</div>