<div class="info-window">
	   <% if building.reviews.nil? || building.reviews.blank? %>
			<img src="/assets/stars/star0.png" height="16px" width="80px">
		<% else %>
		<%= star_image((building.reviews.average("overall")*4).round) %>
		<% end %>
		
	   <h1><%= link_to building.name, building %></h1>
	   <h2>Address: <%= building.address %></h2>
	</div>
</div>