<div class="stats-labels">
	<ul>
		<li>
			<h4>Overall Rating:</h4>
		</li>
		<li>
			<h4>Management Rating:</h4>
		</li>
		<li>
			<h4>Staff Rating:</h4>
		</li>
		<li>
			<h4>Maintenance Rating:</h4>
		</li>
		<li>
			<h4>Amenities Rating:</h4>
		</li>
		<li>
			<h4>Neighborhood Rating:</h4>
		</li>
		<li>
			<h4>Safety Rating:</h4>
		</li>
		<li>
			<h4>Noise Rating:</h4>
		</li>
		<li>
			<h4>Transporation Rating:</h4>
		</li>
	</ul>
</div>
<div class="stats-stars">
	<ul>
		<li>
			<% if @reviews.average_review_rating("overall").nil? %>
				<% 20.times do %>
					<input name="review[overall]" type="radio" class="star {split:4}" value="1" disabled="disabled">
				<% end %>
			<% else %>
				<% (1...(@reviews.average_review_rating("overall")*4).round).each do %>
					<input name="review[overall]" type="radio" class="star {split:4}" value="1" disabled="disabled">
				<% end %>
				<input name="review[overall]" type="radio" class="star {split:4}" value="1" checked="checked" disabled="disabled">
				<% (20-(@reviews.average_review_rating("overall")*4).round).times do %>
					<input name="review[overall]" type="radio" class="star {split:4}" value="1" disabled="disabled">
				<% end %>
			<% end %>	
		</li><br><br>
		<li>
			<% if @reviews.average_review_rating("management_rating").nil? %>
				<% 20.times do %>
					<input name="review[management_rating]" type="radio" class="star {split:4}" value="1" disabled="disabled">
				<% end %>
			<% else %>
				<% (1...(@reviews.average_review_rating("management_rating")*4).round).each do %>
					<input name="review[management_rating]" type="radio" class="star {split:4}" value="1" disabled="disabled">
				<% end %>
				<input name="review[management_rating]" type="radio" class="star {split:4}" value="1" checked="checked" disabled="disabled">
				<% (20-(@reviews.average_review_rating("management_rating")*4).round).times do %>
					<input name="review[management_rating]" type="radio" class="star {split:4}" value="1" disabled="disabled">
				<% end %>
			<% end %>
		</li><br>
		<li>
			<% if @reviews.average_review_rating("staff_rating").nil? %>
				<% 20.times do %>
					<input name="review[staff_rating]" type="radio" class="star {split:4}" value="1" disabled="disabled">
				<% end %>
			<% else %>
				<% (1...(@reviews.average_review_rating("staff_rating")*4).round).each do %>
					<input name="review[staff_rating]" type="radio" class="star {split:4}" value="1" disabled="disabled">
				<% end %>
				<input name="review[staff_rating]" type="radio" class="star {split:4}" value="1" checked="checked" disabled="disabled">
				<% (20-(@reviews.average_review_rating("staff_rating")*4).round).times do %>
					<input name="review[staff_rating]" type="radio" class="star {split:4}" value="1" disabled="disabled">
				<% end %>
			<% end %>
		</li><br>
		<li>
			<% if @reviews.average_review_rating("maintenance_rating").nil? %>
				<% 20.times do %>
					<input name="review[maintenance_rating]" type="radio" class="star {split:4}" value="1" disabled="disabled">
				<% end %>
			<% else %>
				<% (1...(@reviews.average_review_rating("maintenance_rating")*4).round).each do %>
					<input name="review[maintenance_rating]" type="radio" class="star {split:4}" value="1" disabled="disabled">
				<% end %>
				<input name="review[maintenance_rating]" type="radio" class="star {split:4}" value="1" checked="checked" disabled="disabled">
				<% (20-(@reviews.average_review_rating("maintenance_rating")*4).round).times do %>
					<input name="review[maintenance_rating]" type="radio" class="star {split:4}" value="1" disabled="disabled">
				<% end %>
			<% end %>
		</li><br>
		<li>
			<% if @reviews.average_review_rating("amenities_rating").nil? %>
				<% 20.times do %>
					<input name="review[amenities_rating]" type="radio" class="star {split:4}" value="1" disabled="disabled">
				<% end %>
			<% else %>
				<% (1...(@reviews.average_review_rating("amenities_rating")*4).round).each do %>
					<input name="review[amenities_rating]" type="radio" class="star {split:4}" value="1" disabled="disabled">
				<% end %>
				<input name="review[amenities_rating]" type="radio" class="star {split:4}" value="1" checked="checked" disabled="disabled">
				<% (20-(@reviews.average_review_rating("amenities_rating")*4).round).times do %>
					<input name="review[amenities_rating]" type="radio" class="star {split:4}" value="1" disabled="disabled">
				<% end %>
			<% end %>
		</li><br>
		<li>
			<% if @reviews.average_review_rating("neighborhood_rating").nil? %>
				<% 20.times do %>
					<input name="review[neighborhood_rating]" type="radio" class="star {split:4}" value="1" disabled="disabled">
				<% end %>
			<% else %>
				<% (1...(@reviews.average_review_rating("neighborhood_rating")*4).round).each do %>
					<input name="review[neighborhood_rating]" type="radio" class="star {split:4}" value="1" disabled="disabled">
				<% end %>
				<input name="review[neighborhood_rating]" type="radio" class="star {split:4}" value="1" checked="checked" disabled="disabled">
				<% (20-(@reviews.average_review_rating("neighborhood_rating")*4).round).times do %>
					<input name="review[neighborhood_rating]" type="radio" class="star {split:4}" value="1" disabled="disabled">
				<% end %>
			<% end %>
		</li><br>
		<li>
			<% if @reviews.average_review_rating("safety_rating").nil? %>
				<% 20.times do %>
					<input name="review[safety_rating]" type="radio" class="star {split:4}" value="1" disabled="disabled">
				<% end %>
			<% else %>
				<% (1...(@reviews.average_review_rating("safety_rating")*4).round).each do %>
					<input name="review[safety_rating]" type="radio" class="star {split:4}" value="1" disabled="disabled">
				<% end %>
				<input name="review[safety_rating]" type="radio" class="star {split:4}" value="1" checked="checked" disabled="disabled">
				<% (20-(@reviews.average_review_rating("safety_rating")*4).round).times do %>
					<input name="review[safety_rating]" type="radio" class="star {split:4}" value="1" disabled="disabled">
				<% end %>
			<% end %>
		</li><br>
		<li>
			<% if @reviews.average_review_rating("noise_rating").nil? %>
				<% 20.times do %>
					<input name="review[noise_rating]" type="radio" class="star {split:4}" value="1" disabled="disabled">
				<% end %>
			<% else %>
				<% (1...(@reviews.average_review_rating("noise_rating")*4).round).each do %>
					<input name="review[noise_rating]" type="radio" class="star {split:4}" value="1" disabled="disabled">
				<% end %>
				<input name="review[noise_rating]" type="radio" class="star {split:4}" value="1" checked="checked" disabled="disabled">
				<% (20-(@reviews.average_review_rating("noise_rating")*4).round).times do %>
					<input name="review[noise_rating]" type="radio" class="star {split:4}" value="1" disabled="disabled">
				<% end %>
			<% end %>
		</li><br>
		<li>
			<% if @reviews.average_review_rating("transportation_rating").nil? %>
				<% 20.times do %>
					<input name="review[transportation_rating]" type="radio" class="star {split:4}" value="1" disabled="disabled">
				<% end %>
			<% else %>
				<% (1...(@reviews.average_review_rating("transportation_rating")*4).round).each do %>
					<input name="review[transportation_rating]" type="radio" class="star {split:4}" value="1" disabled="disabled">
				<% end %>
				<input name="review[transportation_rating]" type="radio" class="star {split:4}" value="1" checked="checked" disabled="disabled">
				<% (20-(@reviews.average_review_rating("transportation_rating")*4).round).times do %>
					<input name="review[transportation_rating]" type="radio" class="star {split:4}" value="1" disabled="disabled">
				<% end %>
			<% end %>
		</li>
	</ul>
</div>