// Place all the styles related to the buildings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

/* Search Sidebar */

.search-sidebar {
	width: 28%;
	vertical-align: top;
	display: inline-block;
	min-height: 20em; width: 13em;
	margin:0 0.7em 0 0;
	border-right: 1px solid $grayLight;
}

/* Building Results */

.building-results {
	vertical-align: top;
	display: inline-block;
	min-height: 10em;
	width: 70%;
	border-radius: 6px;
	padding: 0.7em 0.7em 0.7em 0.7em;
	h2 {
		font-size: 1.2em;
		font-weight: 400;
	}
}

.building-listing {
	width: 112%;
	padding: 1em 0.5em 1em 0;
	border-bottom: 1px dashed #778390;
	&:hover {
		background: #f5f9fe;
		h3 		{color: $offBlack;}
		h4 		{color: $grayVeryDark;}
		h5		{color: $grayMediumDark;}
		span 	{color: $gbVeryDark;}
		p 		{color: $blueVVDark;}
	}
}

.building-image {
	width: 20%;
	padding: 0.2% 0 1% 3%;
	display: inline-block;
	vertical-align: top;
}

.building-listing-info {
	width: 75%;
	display: inline-block;
	vertical-align: top;
	h3 {
		display: inline-block;
		font-size:1.2em;
		font-weight:350;
		color: $offBlack;
		padding:0 0 0 0;
		margin:0;
	}
	img {
		display: inline-block;
		margin-left: 0.5em;
	}
	h4 {
		color: $grayVeryDark;
		font-size: 1.05em;
		font-weight: 300;
		padding:0 0 0 0;
		margin:0.2em 0 0.2em 0;
	}
	span {
		font-size:1em;
		font-weight:300;
		font-style: italic;
		padding:0 0 0 0;
		margin:0;
		color:$gbVeryDark;
	}
	p {
		color: $blueVVDark;
		margin-top: 1.5%;
		font-size: 1em;
	}
	a {
		color: $blueVVDark;
	}
}
#reviews-count {color: $gbDark; font-weight: 500;}

.review-summary {
	display: inline-block;
	vertical-align: top;
	width:31%;
	height: 9em;
	padding: 0.8% 1%;
	margin-left: 2%;
	border-radius: 5px;
	h5 {
		padding: 0;
		margin: 0;
		font-size: 1em;
		font-weight: 300;
		color: $grayMediumDark;
	}
}

/* No Results */

.no-results {
	h2 {

	}
	h3 {
		font-size: 1.5em;
		font-weight: 400;
		color: $grayVeryDark;
		margin-bottom: 1em;
		margin-left: 1.2em;
	}
	ul {
		li {
			margin-bottom: 1.3em;
		}
	}
	p {
		font-size: 1em;
		color: $offBlack;
	}
}

/* Building Profile */

.building-profile {
	width:105%;
	display: inline-block;
	margin-top: 3em;
	margin-bottom: 10em;
}

.building-content-area {
	display: inline-block;
	vertical-align: top;
	border-right: 1px solid $grayLight;
	padding-right: 1.5%;
	width: 61.75%;
}
.building-sidebar {
	display: inline-block;
	vertical-align: top;
	width: 32%;
	height: 2em;
	margin-left: 0.5%;
	padding: 0.7em;
}

.building-topbar {
	width: 105%;
}

.building-info {
	display: inline-block;
	vertical-align: top;
	padding: 0 1.5% 0 1.5%;
	margin: 0.1em 0 4em 0;
	width: 41%;
	background: white;
	border: 1px solid $grayMedium;
	border-radius: 6px;
	h1 {
		color: $offBlack;
		font-size: 1.2em;
		font-weight: 500;
		text-align: left;
		margin-bottom: 0;
		letter-spacing: 0.5px;
	}
	p {
		font-size: 0.95em;
		line-height: 1.2em;
	}
}
#geography {font-size: 0.9em; font-style: italic; color:$grayDark;}
#address-text {font-size: 0.9em; margin:-0.8em 0 1em 0; padding:0; color: $gbDark;}
.review-rent-btns {margin-top: -0.5em;}
.building-stats {
	width: 98%;
	display: inline-block;
	border-radius: 5px;
	padding: 1em 0.5em 0.5em 0.5em;
	margin-top: -0.7em;
	h4 {
		font-size: 0.95em;
		color: $grayDark;
		font-weight: 400;
		text-align: right;
	}
	span {
		color: $offBlack;
		font-weight: 600;
	}
}
#overall-rating-div {
	width: 16.5em;
	height: 1.75em;
	margin: 0.5em 0 0.75em 1.9em;
	padding-left: 0em;
	background: $blueLight;
	border: 1px solid $blueLight;
	border-radius: 6px;
	ul {
		margin-left: 1.5em;
		margin-top: -0.4em;
		li {
			display: inline-block;
			vertical-align: middle;
		}
	}
}
#overall-avg-stars {margin-left: 1em;}
.stats-labels {
	vertical-align: top;
	display: inline-block;
	width: 59%;
	margin-top: -1em;
	margin-left: -2em;
	padding: 0;
	ul {
		li {
			margin-bottom: 0.75em;
		}
	}
}
.stats-stars {
	vertical-align: top;
	display: inline-block;
	width: 45%;
	margin-top: -1.2em;
	margin-left: -1em;
	ul {
		li {
			display: block;
			margin-bottom: 0.85em;
		}
		&:first-child {line-height: 0.87em}
	}
}

.photos-area {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	height: 24em;
	background: gray;
}
.main-photo {
	display: block;
	width: 98%;
	height: 17em;
	padding: 1%;
	background: blue;
}
.thumbnails {
	display: block;
	width: 98%;
	height: 5em;
	margin-left: 0;
	padding: 1%;
	background: red;
}

.map-area {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 23em;
	margin-top: -0.5em;
	padding: 1%;
	border: 1px solid $grayLight;
	background: white;
}

.add-photos-floorplans {
	width: 95%;
	margin-top: 1.5em;
	padding: 0 1em;
	span {
		margin-right: 1.5em;
	}
}

.building-data-toggle {
	width: 95%;
	margin-top: -3em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
} 

/* Advertisement & Contact Manager Box */

.ad-holder-336 {
	width: 92%;
	margin-top: 2em;
	padding: 4%;
	border: 1px solid $grayLight;
}

/* New building form */

.new-building-form {
	display: inline-block;
	vertical-align: top;
	width: 59%;
	margin: 3em 0 8em 0;
	padding: 0.1em 3em 2em 3em;
	border: 1px solid $grayMedium;
	border-radius: 5px;
	background: white;
	input {
		margin-top:0.6em;
		width: 10em;
	}
	h1 {
		font-size: 1.6em;
		margin: 0.9em 0 0.5em 0;
		padding-bottom: 0.6em;
		color: #2d68a5;
		font-weight: 300;
		border-bottom: 1px solid #a5afb9;
	}
	p {
		margin-top: 1em;
		margin-bottom: 0;
		margin-left: 2px;
		font-size: 1em;
	}
	select {
		margin-top: 0.5em;
		height: 2em;
	}
	textarea {
		padding: 0.5em;
	}
}

.new-building-sidebar {
	display: inline-block;
	vertical-align: top;
	width: 26%;
	height: 50em;
	border-radius: 5px;
	margin: 2.5em 0 0 1em;
	padding: 1em 1em 3em 1em;
	color: #6d767f;
	h2 {
		color: #606c78;
		font-size: 1.35em;
		font-weight: 300;
		border-bottom: 1px solid #a5afb9;
		padding:0 0 0.4em 0;
		margin-bottom: 0.75em;
	}
	p {
		font-size: 1em;
		line-height: 1.5em;
	}
}

.building-form-fields {
	div {display:block;}
}

#building-name	{width: 95%;}
#address-field 	{width: 95%;}
#zip 			{width: 20%;}

#city 			{width:30%;}
#area 			{width:30%;}
#neighborhood 	{width:30%;}

#management 	{width:70%; margin-top: 2em;}

#create-building-btn {text-align: left; padding-top:1em;}

/* Thanks */

.thankyou-hero {
	width: 100%;
	h1 {
		color: $gbVeryDark;
		font-size: 2.5em;
		font-weight: 400;
		margin: 0 0 0.3em 0;
		padding: 0;
	}
	h2 {
		color: $grayDark;
		font-size: 1.6em;
		font-weight: 300;
		margin: 0;
		padding: 0;
	}
}

.thankyou-fb-box {

}




