// Place all the styles related to the buildings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

/* Search Sidebar */

.search-sidebar {
	width: 35%;
	vertical-align: top;
	display: inline-block;
	min-height: 20em;
	margin:0 1em 0 0;
	padding: 0.7em 0 0 0;
}

.search-options {
	h3 {
		margin: 1em 0 0 0;
		font-weight: 500;
		font-size: 1.1em;
		color: $grayVeryDark;
	}
}

/* Building Results */

.results-header {
	margin-bottom: 1em;
	padding: 0.7em 0;
	border-radius: 6px;
	background: $gbVeryLight;
	h2 {
		padding: 0;
		margin: 0;
		color: $blueVVVDark;
		font-weight: 300;
		font-size: 1em;
	}
}

.building-results {
	vertical-align: top;
	display: inline-block;
	width: 60%;
	border: 1px solid $grayLight;
	border-radius: 6px;
	padding: 0.7em 0.7em 0.7em 0.7em;
	background: white;
	h2 {
		font-size: 1em;
		font-weight: 400;
	}
}
.building-results-ul {margin-top: -1.8em;}
.building-listing {
	width: 93%;
	padding: 1em 0.5em 1em 0.7em;
	border-bottom: 1px dashed #778390;
	&:hover {
		background: #f5f9fe;
		h3 		{color: $offBlack;}
		h4 		{color: $grayVeryDark;}
		h5		{color: $grayMediumDark;}
		span 	{color: $gbVeryDark;}
		p 		{color: $blueVVDark;}
	}
}

.building-image {
	width: 90px;
	height: 80px;
	margin-top: 0.3em;
	padding: 2px;
	display: inline-block;
	vertical-align: top;
	border-radius: 3px;
	text-align: center;
	overflow: hidden;
	img { border: 1px solid $grayMedium; }
}

.building-listing-info {
	width: 75%;
	display: inline-block;
	vertical-align: top;
	margin-left: 0.8em;
	h3 {
		display: inline-block;
		vertical-align: middle;
		font-size: 0.95em;
		font-weight:350;
		color: $offBlack;
		padding:0 0 0 0;
		margin: 0;
	}
	img {
		display: inline-block;
		vertical-align: middle;
		margin-left: 0.5em;
		margin-top: -3px;
	}
	h4 {
		color: $grayVeryDark;
		font-size: 0.85em;
		font-weight: 300;
		padding: 0 0 0 0;
		margin: -0.2em 0 0.2em 0;
	}
	span {
		font-size: 0.85em;
		font-weight: 300;
		font-style: italic;
		padding:0 0 0 0;
		margin:0;
		color:$gbVeryDark;
	}
	p {
		color: $blueVVDark;
		margin-top: 1.5%;
		font-size: 0.86em;
	}
	a {
		color: $blueVVDark;
	}
}
#reviews-count {margin-left: 0.5em; margin-top: 0.51em; color: $grayDark; font-size: 0.8em; font-weight: 300; display: inline-block; vertical-align: middle;}

.review-summary {
	display: inline-block;
	vertical-align: top;
	width:31%;
	height: 9em;
	padding: 0.8% 1%;
	margin-left: 2%;
	border-radius: 5px;
	h5 {
		padding: 0;
		margin: 0;
		font-size: 1em;
		font-weight: 300;
		color: $grayMediumDark;
	}
}

/* No Results */

.no-results {
	h2 {

	}
	h3 {
		font-size: 1.5em;
		font-weight: 400;
		color: $grayVeryDark;
		margin-bottom: 1em;
		margin-left: 1.2em;
	}
	ul {
		li {
			margin-bottom: 1.3em;
		}
	}
	p {
		font-size: 1em;
		color: $offBlack;
	}
}

/* Building Profile */

.building-profile {
	width:105%;
	display: inline-block;
	margin-top: 3em;
	margin-bottom: 10em;
}

.building-content-area {
	display: inline-block;
	vertical-align: top;
	border-right: 1px solid $grayLight;
	padding-right: 1.5%;
	width: 61.75%;
}
.building-sidebar {
	display: inline-block;
	vertical-align: top;
	width: 32.5%;
	height: 2em;
	margin-left: 0.5%;
	padding: 0.7em;
}

.building-topbar {
	width: 105%;
}

.building-info {
	display: inline-block;
	vertical-align: top;
	padding: 0 1.5% 0 1.5%;
	margin: 0.1em 0 4em 0;
	width: 41%;
	background: white;
	border: 1px solid $grayMedium;
	border-radius: 6px;
	h1 {
		font-size: 1.1em;
		font-weight: 500;
		text-align: left;
		letter-spacing: 0.5px;
		margin-bottom: 0.2em;
	}
	p {
		font-size: 0.95em;
		line-height: 1.2em;
	}
}
#geography {font-size: 0.8em; font-style: italic; color:$grayDark;}
#address-text {font-size: 0.8em; margin:-0.8em 0 1em 0; padding:0; color: $gbDark;}
.review-rent-btns {margin-top: 0em;}
.building-stats {
	width: 98%;
	display: inline-block;
	border-radius: 5px;
	padding: 1em 0.5em 0.5em 0.5em;
	margin-top: -0.7em;
	h4 {
		font-size: 0.8em;
		color: $grayDark;
		font-weight: 400;
		text-align: right;
	}
	span {
		color: $offBlack;
		font-weight: 600;
	}
}
#overall-rating-div {
	width: 15.5em;
	height: 1.75em;
	margin: 0.5em 0 0.75em 1.7em;
	padding-left: 0em;
	background: $blueLight;
	border: 1px solid $blueLight;
	border-radius: 6px;
	ul {
		margin-left: 1.5em;
		margin-top: -0.4em;
		li {
			display: inline-block;
			vertical-align: middle;
		}
	}
}
#overall-avg-stars {margin-left: 1em;}
.stats-labels {
	vertical-align: top;
	display: inline-block;
	width: 59%;
	margin-top: -1em;
	margin-left: -2em;
	padding: 0;
	ul {
		li {
			margin-bottom: 0em;
		}
	}
}
.stats-stars {
	vertical-align: top;
	display: inline-block;
	width: 45%;
	margin-top: -0.7em;
	margin-left: -1em;
	ul {
		li {
			display: block;
			margin-bottom: 0.07em;
		}
		&:first-child {line-height: 0.87em}
	}
}

.photos-area {
	display: inline-block;
	vertical-align: top;
	width: 48%;
	height: 24em;
	margin-left: 0.6em;
}
.add-photo-link {margin-top: 0.4em; float:right;}

.map-area {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 22em;
	margin-top: -0.5em;
	padding: 1% 0 1% 2%;
	border: 1px solid $grayLight;
	background: white;
}

.info-window {/*Styles the popup info windows in the google map results on building seach results page*/
	width: 18em;
	height: 3.5em;
	padding: 0;
	border-radius: 6px;
	h1 {
		font-weight: 400;
		font-size: 1em;
	}
	h2 {
		font-size: 0.9em;
	}
}

.add-photos-floorplans {
	width: 95%;
	margin-top: 1.5em;
	padding: 0 1em;
	span {
		margin-right: 1.5em;
	}
}

.building-data-toggle {
	width: 95%;
	margin-top: -3em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
} 

/* Advertisement & Contact Manager Box */

.ad-holder-336 {
	width: 100%;
	margin-top: 1.5em;
	padding: 0;
}

/* Nearby Buildings */

.nearby-buildings {
	display: inline-block;
	width: 95%;
	margin-top: 1.5em;
	margin-bottom: 1em;
	padding: 0.8em;
	background: white;
	border: 1px solid $grayLight;
	border-radius: 6px;
	h3 {
		margin: 0 0 1.5em 0;
		font-weight: 500;
		font-size: 0.95em;
	}
	ul {
		margin: 0;
		li {
			padding: 0.5em 0.6em;
			margin: 0 0 0.3em 0;
			border-radius: 6px;
			h5 {
				font-size: 0.85em;
				margin: 0 0 0 0;
				font-weight: 500;
			}
			p {
				margin-top: 0.3em;
				color: $grayDark;
				font-size: 0.8em;
				font-weight: 300;
			}			
			&:hover {
				background: $blueLight;
			}
		}
	}
}
.nearby-buildings-image {
	width: 70px;
	height: 50px;
	vertical-align: top;
	display: inline-block;
	overflow: hidden;
	img {
		margin: 0 0 0 0;
		border: 1px solid $grayMedium;
	}
}

.nearby-buildings-info {
	vertical-align: top;
	display: inline-block;
	margin-left: 0.7em;
}
/* New building form */

.new-building-form {
	display: inline-block;
	vertical-align: top;
	width: 52%;
	margin: 3em 0 8em 4%;
	padding: 0.1em 3em 2em 3em;
	border: 1px solid $grayMedium;
	border-radius: 5px;
	background: white;
	input {
		margin-top:0.6em;
		width: 10em;
	}
	h1 {
		font-size: 1.3em;
		margin: 0.9em 0 0.5em 0;
		padding-bottom: 0.6em;
		color: #2d68a5;
		font-weight: 300;
		border-bottom: 1px solid #a5afb9;
	}
	p {
		margin-top: 0.9em;
		margin-bottom: 0;
		margin-left: 2px;
		font-size: 0.9em;
	}
	select {
		margin-top: 0.5em;
		height: 2em;
		font-size: 0.83em;
	}
	textarea {
		padding: 0.5em;
		font-size: 0.83em;
	}
	input {
		font-size: 0.83em;
	}
}

.new-building-sidebar {
	display: inline-block;
	vertical-align: top;
	width: 26%;
	height: 50em;
	border-radius: 5px;
	margin: 2.5em 0 0 1em;
	padding: 1em 1em 3em 1em;
	color: #6d767f;
	h2 {
		color: #606c78;
		font-size: 1.15em;
		font-weight: 300;
		border-bottom: 1px solid #a5afb9;
		padding:0 0 0.4em 0;
		margin-bottom: 0.75em;
	}
	p {
		font-size: 0.88em;
		line-height: 1.5em;
	}
}

.building-form-fields {
	div {display:block;}
}

#building-name	{width: 95%;}
#address-field 	{width: 95%;}
#zip 			{width: 20%;}

#city 			{width:30%;}
#area 			{width:30%;}
#neighborhood 	{width:30%;}

#management 	{width:70%; margin-top: 2em;}

#create-building-btn {text-align: left; padding-top:1em;}

/* Thanks */

.thankyou-hero {
	width: 100%;
	h1 {
		color: $gbVeryDark;
		font-size: 2.5em;
		font-weight: 400;
		margin: 0 0 0.3em 0;
		padding: 0;
	}
	h2 {
		color: $grayDark;
		font-size: 1.6em;
		font-weight: 300;
		margin: 0;
		padding: 0;
	}
}

.thankyou-fb-box {

}




