/* Button Variables */

$actionButton: #46afeb;
$actionButtonHover: #3196d6;
$buttonBorder: #3f667f;

/* Home Buttons */

.btn-vlarge {
  padding: 19px 45px;
  font-size: 26px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
