@import "colors";

/* Button Variables */

$actionButton: #46afeb;
$actionButtonHover: #3196d6;
$buttonBorder: #3f667f;

/* Wider buttons */

.btn-wide { padding: 0.8em 3.5em; }
.btn-very-wide { padding: 2em 20em; }

/* Light Gray & Blue colors */

$lightGray: #d8dde2;
$pureWhite: white;

/* Home Buttons */

.btn-vlarge {
  padding: 19px 45px;
  font-size: 26px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

/* Building Profile */

.interactive-btn {
	display: inline-block;
	width: 24.8%;
	height: 100%;
	padding: 1.5% 0 1.5% 0;
	border: 1px solid $grayLightMedium;
	text-align: center;
	color: $grayVeryDark;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($pureWhite), to($lightGray));
	background: -webkit-linear-gradient(top, $lightGray, $pureWhite);
	background: -moz-linear-gradient(top, $lightGray, $pureWhite);
	background: -ms-linear-gradient(top, $lightGray, $pureWhite);
	&:hover {
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($pureWhite), to($gbLight));
		background: -webkit-linear-gradient(top, $gbLight, $pureWhite);
		background: -moz-linear-gradient(top, $gbLight, $pureWhite);
		background: -ms-linear-gradient(top, $gbLight, $pureWhite);
		color: $blueVeryDark;
	}
}
.left {
	border-top-left-radius: 5px;
}
.right {
	border-top-right-radius: 5px;
}
#selected {
	background: white;
	border: 1px solid $grayLightMedium;
	&:hover {
		color: $grayVeryDark;
	}
}

/* Review Buttons on side of building review page*/

.review-btn {
	padding: 0.6em 1em;
	background: $grayVeryLight;
	border-right: 1px solid $grayMedium;
	border-top: 1px solid $grayMedium;
	border-left: 1px solid $grayMedium;
	border-radius:0;
	text-align: right;
	color: $grayDark;
	&:hover {
		background: white;
		border-right: 1px solid white;
		border-top: 1px solid $grayMedium;
		border-left: 1px solid $grayMedium;
	}
}
		
.first-review-btn {
	border-top: 0;
	border-top-left-radius: 6px;
	&:hover {
		border-top: 0;
	}
}

.last-review-btn {
	border-bottom: 1px solid $grayMedium;
	border-bottom-left-radius: 6px;
}

#review-selected {
	background: white;
	border-right: 1px solid white;
	font-weight: 500;
	color: $blueVeryDark;
}

/* Building profile toggle buttons between rent and reviews */

.toggle {
	border-radius: 5px;
	margin-right: 0.7em;
	padding: 0.5em 1.5em;
	border: 0;
	background: white;
	&:hover {
		background: $grayLight;
		color: black;
	}
}

.tselect {
	background: #1f6bbf;
	border: 0;
	color:white;
	&:hover {
		background: #1f6bbf;
		color: white;
	}
}



