/* Variables */

/* Grays */
$grayVeryLight:#f2f4f5;
$grayLight: #e3e5e6;
$grayLightMedium: #cccdce;
$grayMedium: #b3b4b5;
$grayMediumDark: #939494;
$grayDark: #777777;
$grayVeryDark: #474747;
$offBlack: #262626;
/* Blues */
$blueVeryLight: #f4f9ff;
$blueLight: #e0effe;
$blueLightMedium: #bddcfc;
$blueMedium: #97c8fb;
$blueMediumDark: #7fbaf7;
$blueDark: #58a6f5;
$blueVeryDark: #58a6f5;
$blueVVDark: #195da3;
$blueVVVDark: #031c36;
/* Gray-Blues */
$gbVeryLight: #ecf1f6;
$gbLight: #d9e3ee;
$gbLightMedium: #bdcee0;
$gbMedium: #a0b7cf;
$gbMediumDark: #88a3be;
$gbDark: #6686a6;
$gbVeryDark: #446587;
$gbVeryVeryDark: #203f60;