@font-face {
  font-family: 'Elegant Light';
  src: font-url('Elegantlight.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Social Icons';
  src: font-url('SocialIcons.ttf');
  font-weight: normal;
  font-style: normal;
}
