/* Mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$bordercolor: #b6c2cb;
$darkborder: #393b3d;
$darkgreytext: #5d6062;
$lightgreytext: #808386;
$grayLight: #d4d9dc;

$footerHeight: 60em;

@mixin box_sizing {
	-moz-box-sizing: border-box;
}

/* CSS Reset */
/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {width:100%;}
html, body {height:100%;}
textarea { resize: vertical; }
div > * {vertical-align:middle;}
a { text-decoration: none; }
a:hover { text-decoration: none;}

/* General */
.main-content-area {
	margin:0 auto; 
	min-height: 500px;}
.clear {height:0; line-height:0; clear:both;}
.no-wrap {white-space: nowrap;}
#body {padding-bottom: $footerHeight;}
#holder {min-height: 100%; position:relative;margin-left:auto; margin-right:auto; width:100%;}
.container{width:1000px;margin-left:auto; margin-right:auto;}  

/* Alignment */

.left { float: left; }
.right { float: right; }
.center {text-align: center; h1 { margin-bottom: 10px; }}
.top {vertical-align: top;}
.middle {vertical-align: middle;}

/* Buffer */

.buffer-large {height:150px;}
.buffer {height:90px;}
.buffer-small {height:30px;}

.em-buffer-5 {height:5em;}
.em-buffer-3 {height:3em;}
.em-buffer-2 {height:2em;}  

.bottom-buffer {margin-bottom:6px;}

/* Typography */

h1, h2, h3, h4, h5, h6 { line-height: 1; }
h1 {font-size: 1.4em; letter-spacing: -2px; margin-bottom: 30px; text-align: center; color: white;}
h2 { font-size: 1.7em; letter-spacing: -1px;margin-bottom: 30px; text-align: center;font-weight: normal;}
p { font-size: 0.9em; line-height: 1.1em; }

/* Main Topbar */

.maintopbar {position: absolute; top: 0; left: 0; width: 100%; height: 5em; background-color: #d9eafb; border-bottom: 2px solid #5181b8; text-align:left; opacity:0.75; filter: alpha(opacity=75); /* For IE8 and earlier */}
.maintopbar nav {padding:0.6em 0; display:inline-block;}
#logo {font-size: 1.8em; font-weight: bold;margin-top: 2px; margin-right: 25px;&:hover { text-decoration: none; }}
.header-box {display:inline-block; white-space:normal; width:300px;}
.header-buttons {width:32em;}
.header-links {margin: 15px 0;}
.header-links li {display:inline;margin-left:15px;}

/* Search Header */

.searchbar {
	height: 3em;
	background: url("searchstripe.png");
	background-size: 6px;
	background-repeat:repeat;
	border-bottom: 1px solid #c3cbd4;
	margin-left: auto;
	margin-right: auto;
}

.searchbar-field {
	width: 30em;
	margin: 0.4em 0 0.4em 0;
}

/* Footer */

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%; height: $footerHeight;
	border-top: 1px solid $bordercolor;
	padding: 15px 0;
	color: #649ed0;
	background-color: #eef4fa;
	clear: both;
	
	a { color: #396392; display: block; margin-top: -4px; text-decoration: none;
		&:hover { color: #699fdb; }
	}
}

.footer-col li {vertical-align:top; display: inline-block; white-space: normal; width: 185px; margin-left: -5px; line-height: 2.2em; text-align:left;}

.upper-footer {
	h3 {font-size: 1.3em; margin-bottom: 20px; font-weight: 300;}
}
.lower-footer {background: #c3d8f0; height:25em; border-top: 1px solid #78a4d6;}

#social-col {width:225px;}
#footer-title {font-size:1.4em; font-weight:300; color:#396392; border-bottom:1px solid #7e9bb2; margin: 10px 20px 10px 20px; padding:0 0 6px 0;}
#footer-cities {line-height: 1.7em;}
#social-button-container {width:172px;}
.social-button {
	background-color: #c3d8f0;
	border: 1px solid #689eda; 
	border-radius: 5px;
	padding: 2px 5px; 
	margin: 5px 0 0 -5px;
	color: #689eda;
	p {display:inline; margin-left: 10px;}
	span {font-family: "Social Icons"; font-size: 2em; display: inline-block;vertical-align: middle;}
	&:hover {color: #3482ca;}
}
.facebook {margin-bottom:9px; &:hover {color: #3482ca; border: 1px solid #3482ca;}}
.twitter {margin-bottom:9px; &:hover {color: #3cd0d9; border: 1px solid #3cd0d9;}}
.google {&:hover {color: #e05d43; border: 1px solid #e05d43;}}

#copyright-footer {display:inline; p {color: #4176b1;margin-top:13px;}}


/* Register & Signin Pages */

.register-box {width: 500px; margin-left: 35px; float: left;}

/* Forms */

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%; height: auto;
	padding: 1px;
	margin-bottom: 15px;
	@include box_sizing;
}

.form-label {margin-bottom: -15px;}
.auth-field {width: 280px; margin: 10px 0;} /* input fields */
.edit-field {width: 350px;}
.field-label {margin-bottom: -12px; margin-top: 15px; font-weight: 500;}
.field-label-special {margin-top: 15px; font-weight: 500;} /* Used for the edit profile page for the form labels that have italic comments underneath */

/* Register & Login */

.login-graphic {white-space:normal; display:inline-block; width:520px; padding: 0 35px 0 35px; margin-top: -50px;}
.login-box {white-space:normal; display:inline-block; border-left:1px solid $bordercolor; width: 295px; padding: 10px 0 35px 45px;}
.session-elements {text-align: right; padding: 0 5px 0 0;}
#error_explanation {color: black; ul { list-style: none; margin: 0 0 18px 0; } }
.field_with_errors {@extend .control-group; @extend .error; }
.role-type {border-radius: 5px; border: 1px solid $bordercolor; background-color: #eff8ff; color: #646f77; padding: 3px 10px; margin-bottom: 15px}

.role-selected {
	background-color: #4b89c9;
	border: 2px solid #175391;
	color: #d9e4ef;
	padding: 3px 10px;
	font-weight: 300;
}

#manager {width: 180px;} /* Registration form buttons */
#tenant {width: 109px;} /* Registration form buttons */

.sign-error-messages {padding:5px 10px; background-color: #fbe4c0; 
	border-radius:5px; margin: 2px 0 20px 0; height: 3em;
	ul {color: #d57212;}
}

/* Miscellaneous */

.debug_dump { clear: both; float: left; width: 100%; margin-top: 45px; @include box_sizing; }
