/* Mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$bordercolor: #b6c2cb;
$darkborder: #393b3d;
$darkgreytext: #5d6062;
$lightgreytext: #808386;
$grayLight: #d4d9dc;

$footerHeight: 43em;

@import "colors";
@mixin box_sizing {
	-moz-box-sizing: border-box;
}

/* CSS Reset */
/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}

blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}

table {border-collapse: collapse;border-spacing: 0;}

body {width:100%;}
html, body {height:100%;}
textarea { resize: vertical; }
div > * {vertical-align:middle;}
a { text-decoration: none; }
a:hover { text-decoration: none;}

/* General */
.main-content-area {margin:0 auto;}
.clear {height:0; line-height:0; clear:both;}
.no-wrap {white-space: nowrap;}
#body {padding-bottom: $footerHeight;}
#holder {min-height: 100%; position:relative;margin-left:auto; margin-right:auto; width:100%;}
.container{width: 960px; margin-left:auto; margin-right:auto;}  
.no-border {border: 0;}

.bg-texture-wrapper {
	background: url("bgtexture.png");
}

.container-wider {width: 1100px;}

/* Alignment & display */

.left { float: left; }
.right { float: right; }
.center {text-align: center; h1 { margin-bottom: 10px; }}
.top {vertical-align: top;}
.middle {vertical-align: middle;}
.inline-block {display: inline-block;}
.center-div {margin-left: auto; margin-right: auto;}
.hidden {display: none;}

.margin-left-1em {margin-left: 1em;}
.margin-right-1em {margin-right: 1em;}
.margin-top-1em {margin-top: 1em}

/* Buffer */

.buffer-large {height:150px;}
.buffer {height:90px;}
.buffer-small {height:30px;}

.em-buffer-5 {height:5em;}
.em-buffer-4 {height:4em;}
.em-buffer-3 {height:3em;}
.em-buffer-2 {height:2em;}
.em-buffer-1 {height:1em;}  

.bottom-buffer {margin-bottom:6px;}

/* Typography */

h1, h2, h3, h4, h5, h6 { line-height: 1em; }
h1 {font-size: 1.4em; text-align: center; color: $offBlack;}
h2 { font-size: 1.7em; text-align: center;font-weight: normal;}
p { font-size: 0.9em; line-height: 1.1em; }
#bold { font-weight: 500; }
.fw-400 {font-weight: 400;}
.fw-300 {font-weight: 300;}
.fw-200 {font-weight: 200;}
#fw-400 {font-weight: 400;}
#fw-300 {font-weight: 300;}
#fw-200 {font-weight: 200;}

#font-085em {font-size: 0.85em;}
#font-082em {font-size: 0.82em;}

/* Main Topbar */

.maintopbar {position: absolute; top: 0; left: 0; width: 100%; height: 4em; background-color: #d9eafb; border-bottom: 2px solid #5181b8; text-align:left; opacity:0.75; filter: alpha(opacity=75); /* For IE8 and earlier */}
.maintopbar nav {padding: 0 0 0.5em 0; display:inline-block;}
#logo {font-size: 1.5em; font-weight: bold;margin-top: 2px; margin-right: 25px;&:hover { text-decoration: none; }}
.header-box {display:inline-block; white-space:normal; width: 27em;}
.header-buttons {width: 27%;}
.header-links {margin: 15px 0; padding-top: 0.3em; a {font-size: 0.87em;}}
.header-links li {display:inline; margin-left:15px;}

/* Pagination */

.pagination {height: 1.5em; padding: 0 1em; margin-bottom: 2em; a {font-size: 0.85em;}}

/* Search Header */

.searchbar {
	height: 3em;
	background: url("searchstripe.png");
	background-size: 6px;
	background-repeat:repeat;
	border-bottom: 1px solid #c3cbd4;
	margin-left: auto;
	margin-right: auto;
}
#search {
	font-size: 0.86em;
	height: 01.4em;
}
.searchbar-field {
	width: 30em;
	margin: 0.6em 0 0.4em 0;
}

/* Footer */

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%; height: $footerHeight;
	border-top: 1px solid $bordercolor;
	padding: 15px 0;
	color: #649ed0;
	background-color: #eef4fa;
	clear: both;
	
	a { color: #396392; display: block; margin-top: -4px; text-decoration: none;
		&:hover { color: #699fdb; }
	}
}
.footer-narrow {width: 80%; margin-left: auto; margin-right: auto;}
.footer-col { margin-left: -0.8em; li {vertical-align:top; display: inline-block; white-space: normal; width: 12.6em; line-height: 2.2em; text-align:left; font-size: 0.95em;}}
.view-all-cities { margin-left: 74.5%; }
.upper-footer {
	h3 {font-size: 1em; margin-bottom: 20px; font-weight: 300;}
}
.lower-footer {background: #c3d8f0; height:25em; border-top: 1px solid #78a4d6;}

#social-col {width:225px;}
#footer-title {font-size:1.2em; font-weight:300; color:#396392; border-bottom:1px solid #7e9bb2; margin: 10px 20px 10px 20px; padding:0 0 6px 0;}
#footer-cities {line-height: 1.9em;}
#social-button-container {width:172px;}
.social-button {
	background-color: #c3d8f0;
	border: 1px solid #689eda; 
	border-radius: 5px;
	padding: 2px 5px; 
	margin: 5px 0 0 -5px;
	color: #689eda;
	p {display:inline; margin-left: 10px;}
	span {font-family: "Social Icons"; font-size: 2em; display: inline-block;vertical-align: middle;}
	&:hover {color: #3482ca;}
}
.facebook {margin-bottom:9px; &:hover {color: #3482ca; border: 1px solid #3482ca;}}
.twitter {margin-bottom:9px; &:hover {color: #3cd0d9; border: 1px solid #3cd0d9;}}
.google {&:hover {color: #e05d43; border: 1px solid #e05d43;}}

#copyright-footer {display:inline; p {color: #4176b1;margin-top:13px;}}


/* Register & Signin Pages */

.register-box {width: 500px; margin-left: 35px; float: left;}

/* Forms */

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%; height: auto;
	padding: 1px;
	margin-bottom: 15px;
	@include box_sizing;
}

.form-label {margin-bottom: -15px;}
.auth-field {width: 215px; margin: 10px 0;} /* input fields */
.edit-field {width: 350px;}
.field-label {margin-bottom: -12px; margin-top: 15px; font-weight: 500;}
.field-label-special {margin-top: 15px; font-weight: 500;} /* Used for the edit profile page for the form labels that have italic comments underneath */
::-webkit-input-placeholder { /* WebKit browsers */color: $grayMedium;}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */color: $grayMedium;}
::-moz-placeholder { /* Mozilla Firefox 19+ */color: $grayMedium;}
:-ms-input-placeholder { /* Internet Explorer 10+ */color: $grayMedium;}

/* Register & Login */

.login-graphic {white-space:normal; display:inline-block; width: 40%; padding: 0 35px 0 35px; margin-top: -50px;}
.login-box {white-space:normal; display:inline-block; width: 55%; padding: 1em 0 3em 0.5em; h2 {font-size: 1.1em;}}
.authentication {
	vertical-align: top;
	display: inline-block;
	width: 33%;
	padding: 0.5em 0 1.5em 0;
	text-align:center;
	border-radius: 7px;
}
#auth-ext-btn {
	width: 13em;
	padding: 0.5em 0.8em;
	text-align: left;
	background: 0;
}
.normal-auth {
	vertical-align: top;
	display: inline-block;
	width: 44%;
	margin-left: 1.5em;
	padding-left: 2.9em;
	border-left:1px solid $bordercolor;
}
.session-elements {text-align: right; padding: 0 5px 0 0;}
#error_explanation {color: black; ul { list-style: none; margin: 0 0 18px 0; } }
.field_with_errors {@extend .control-group; @extend .error; }
.role-type {border-radius: 5px; border: 1px solid $bordercolor; background-color: #eff8ff; color: #646f77; padding: 3px 10px; margin-bottom: 15px}

.sign-error-messages {width: 95%; padding: 0.7em 5px 0em 5px; background-color: #fbe4c0; 
	border-radius:5px; margin: 0.5em 0 1.5em 0; display: inline-block;
	ul {color: #d57212;}
}

/* Miscellaneous */

.debug_dump { clear: both; float: left; width: 100%; margin-top: 45px; @include box_sizing; }

/* Advertisements */

.full-length-width-banner {

}
.tall-banner {

}
.reccomendation-box {

}

.ad-336 {
	width: 336px;
	height: 280px;
	background: $grayLight;
}

/* Validation errors */

.field_with_errors {
	background: white;
	display: inline;
	label {
		display: inline-block;
		margin-top: -0.3em;
		background: #ffe5e1;
		vertical-align: top;
		padding: 0.2em 0.7em;
		border-radius: 6px;
		color: #9d2d1a;
	}
}
