$grayMediumLight: #eaeaea;
$bordercolor: #b6c2cb;
$darkborder: #393b3d;
$darkgreytext: #5d6062;
$lightgreytext: #808386;
$grayLight: #d4d9dc;

/* Profile Header */

.profile-header {}

.user-section {
	width: 300px;
	background: black;
}