// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

/* Select a building first */

.select-building-box {
	width: 55em;
	height: 7em;
	margin-top: 4em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
	padding: 0.8em 0;
	background: white;
	border: 2px solid $grayMedium;
	border-radius: 7px;
	text-align: center;
	h1 {
		margin: 0.7em 0 1.3em 0;
		padding: 0;
		color: $grayVeryDark;
		font-size: 1.3em;
		font-weight: 500;
	}
}

.building-profile-new {
	background: $grayVeryLight;
	border-radius: 5px;
	padding: 0.7em;
}

.select-bldg-search-field {
	width: 40em;
	display: inline-block;
}

.select-building-featured {
	width: 68%;
	padding: 1em;
	margin: 4em auto 15em auto;
	border: 1px solid $grayLight;
	border-radius: 7px;
	background: white;
	h2 {
		margin-bottom: 1em;
		font-weight: 500;
		font-size: 1.2em;
	}
	ul {
		li {
			vertical-align: bottom;
			display: inline-block;
			width: 10.5em;
			margin-bottom: 1em;
			h4 {
				font-size: 1em;
				font-weight: 300;
			}
		}
	}
}

.random-image-container {
	width: 120px;
	height: 100px;
	position: relative; 
	overflow: hidden;
	img {
		position: absolute;
	}
}

.select-bldg-listing:hover .select-bldg-btn {
    display: inline-block;
}

.pagination {
	width: 100%;
	text-align: center;
}

/* Displaying Reviews */
.reviews {
	display: inline-block;
	vertical-align: top;
	border-radius: 7px;
	border: 1px solid $grayLight;
	width: 100%;
	height: auto;
	padding: 0 0 0 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.1em;
	background: white;
}

.review-header {
	height: 2.25em;
	border-bottom: 1px solid $grayLight;
	h2 {
		margin-top: 0.9em;
		font-size: 1em;
	}
}

.review-btn-b {margin-top: 1.5em;}
.no-reviews {width: 85%; padding: 1em 2em; margin:2em auto; border:1px solid $blueLight; border-radius:6px; background:$blueVeryLight; h2 {color: $gbVeryDark; margin-bottom: 1em; font-size: 1.1em;} p {font-size: 1em; color: $grayDark; font-weight: 300;}}
.review-content {
	display: inline-block;
	width: 96%;
	padding: 1.5% 3%;
	min-height: 38em;
}

.single-review-header {
	height: 3.75em;
	width: 97%;
	padding-left: 0.7em;
	background: $gbVeryLight;
	border-radius: 6px;
	h4 {
		display: inline-block;
		vertical-align: middle;
		font-size: 1em;
		color: $grayVeryDark;
	}
	img {
		display: inline-block;
		vertical-align: middle;
		margin-left: 0.7em;
	}
	p {
		margin: -0.4em 0 0.5em 0;
		font-style: italic;
	}
}

.review {
	margin-top: -0.5em;
	margin-bottom: 1.5em;
	padding: 0.5em 0.2em 1em 0.4em;
	border-bottom: 1px solid $grayMedium;
	border-radius: 5px;
	p {
		margin-top: 1em;
		font-size: 1em;
	}
	span {
		font-weight: 600;
		text-align: right;
	}
}

.other-review-ratings {
	display: inline-block;
	width: 40%;
}

.other-stats-labels {
	width: 10em;
	display: inline-block;
	vertical-align: top;
	margin-top: 0.7em;
	ul {
		li {
			margin-left: -1.5em;
		}
	}
	h4 {
		font-size: 0.95em;
		color: $grayDark;
		font-weight: 400;
	}
}
.review-other-stars {
	display: inline-block;
	vertical-align: top;
	margin-top: 0.65em;
	padding-top: 0.25em;
	ul {
		li {
			margin: 0.16em 0 0.16em -1.5em;
			p {
				margin: 0.52em 0 0.705em 0;
				font-size:0.9em;
			}
		}
	}
}

.review-text {
	display: inline-block;
	vertical-align: top;
	width:55%;
	p {
		font-size: 0.9em;
	}
}

/* New Review Form */

.new-review-form {
	display: inline-block;
	vertical-align: top;
	width: 52%;
	margin: 3em 0 8em 4%;
	padding: 0.1em 3em 2em 3em;
	border: 1px solid $grayMedium;
	border-radius: 5px;
	background: white;
	input {
		margin-top: 0.6em;
		width: 10em;
	}
	h1 {
		font-size: 1.3em;
		margin: 0.9em 0 0.5em 0;
		padding-bottom: 0.6em;
		color: #2d68a5;
		font-weight: 400;
		border-bottom: 1px solid #a5afb9;
	}
	p {
		margin-top: 1em;
		margin-bottom: 0;
		margin-left: 2px;
		font-size: 0.87em;
	}
	select {
		margin-top: 0.5em;
		height: 2em;
		font-size: 0.84em;
	}
	textarea {
		margin-top: 0.5em;
		padding: 0.5em;
		font-size: 0.84em;
	}
	input {
		font-size: 0.84em;	
	}
}

.building-image {
	width: 7em;
	height: 7em;
	display: inline-block;
	vertical-align: top;
	background: $grayLight;
	border: 1px solid $grayMedium;
	border-radius: 6px;
}

.building-text {
	display: inline-block;
	vertical-align: top;
	padding: 0 0 0 1em;
	h2 {
		margin: 0 0 0.4em 0;
		padding: 0;
		font-size: 1em;
		font-weight: 400;
		color: $offBlack;
		text-align: left;
	}
	p {
		margin: 0;
		padding: 0;
		color: $grayDark;
		font-size: 0.9em;
		font-style: italic;
	}
}

.new-review-sidebar {
	display: inline-block;
	vertical-align: top;
	width: 26%;
	height: 50em;
	border-radius: 5px;
	margin: 2.5em 0 0 1em;
	padding: 1em 1em 3em 1em;
	color: $grayDark;
	h2 {
		color: $grayVeryDark;
		font-size: 1.1em;
		font-weight: 500;
		border-bottom: 1px solid #a5afb9;
		padding:0 0 0.4em 0;
		margin-bottom: 0.75em;
	}
	p {
		font-size: 0.88em;
		line-height: 1.5em;
	}
	ul {
		li {
			list-style: circle;
			margin-bottom: 1em;
			line-height: 1.3em;
		}
	}
}

.review-form-fields {
	margin-top: 2em;
	p {
		font-size: 0.85em;
		font-weight: 600;
	}
	h4 {
		font-size: 0.95em;
		font-weight: 400;
		color: $grayVeryDark;
	}
}

#start-stop {
	p {
		display: inline-block;
		vertical-align: top;
	}
	select {
		width: 5em;
		vertical-align: top;
	}
}


.tell-us-more {
	width: 92%;
	margin-top: 1.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	padding: 0.8em 1.5em;
	border-radius: 5px;
	background: $grayVeryLight;
	h5 {
		font-size: 0.9em;
		color: $grayVeryDark;
		font-weight: 200;
		margin: 0;
	}
}

.star-rtngs {
	width: 45%;
	display: inline-block;
	p {
		margin-bottom: 0.6em;
	}
}

#create-review-btn {text-align: left; padding-top:1em; margin-top: 1em;}

#msm {width: 46%; height: 10em; margin-top: 0.5em; display:inline-block;}
#nsn {width: 46%; height: 10em; margin-left: 6%; margin-top: 0.5em; display:inline-block;}
#unitamen {width: 46%; height: 10em; margin-top: 1.5em; margin-bottom: 1.5em; display:inline-block;}
#transpark {width: 46%; height: 10em; margin-left: 6%; margin-top: 1.5em; margin-bottom: 1.5em; display:inline-block;}

/* Buttons */

.review-btn {
	display: inline-block;
	padding: 0.5em;
	border-radius: 6px;
	margin-bottom: 0.7em;
	&:hover {
		background: #e0f3f9;
	}
}
.review-btn-selected {
	background: #e0f3f9;
}
