// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

#left-stripe {padding-right: 3%;}
#middle-stripe {
	padding-left: 3%;
	padding-right: 3%;
	border-left: 1px solid $grayLight;
	border-right: 1px solid $grayLight;
}
#right-stripe {padding-left: 3%;}

/* About Us */

.about-hero {
	width: 100%;
	height: 33em;
	background: url("nycstreet.png") no-repeat;
	background-size: 100%;
}

.about-stripe {
	height: 28em;
	width: 100%;
	margin-top: -1.5em;
	margin-left: auto;
	margin-right: auto;
	h2 {
		margin-bottom: 1em;
		color: $grayMediumDark;
		font-size: 1.5em;
		font-weight: 300;
	}
	ul {
		margin-left: auto;
		margin-right: auto;
		li {
			vertical-align: top;
			width: 28%;
			display: inline-block;
			h3 {
				color: $blueVVVDark;
				font-size: 1.3em;
				font-weight: 400;
			}
			p {
				font-size: 0.9em;
				line-height: 1.5em;
				font-weight: 300;
				color: $grayVeryDark;
			}
			span {
				color: $gbMedium;
			}
		}
	}
}

.about-content {
	margin-left: auto;
	margin-right: auto;
	width: 96%;
	height: 40em;
	display: inline-block;
	border-radius: 8px;
}

.about-people {

}

/* Careers */

.careers-hero {
	width: 100%;
	height: 36em;
	background: url("careerhero.png") no-repeat;
	background-size: 100%;
}

.careers-hero-content {
	width: 60em;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
	border-radius: 8px;
	text-align: center;
	h1 {
			padding: 0;
			margin: 0;
			color: $grayVeryLight;
			font-size: 2.6em;
			font-weight: 200;
			text-shadow: 0 0 5px #000; -moz-text-shadow: 0 0 5px #000;
		}
}

.careers-hero-desc-holder {
	width: 35em;
	margin-top: 1.5em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	p {
		color: white;
		font-size: 1.2em;
		font-weight: 100;
		text-shadow: 0 0 5px #000; -moz-text-shadow: 0 0 5px #000;
	}	
}

.careers-stripe {
	height: 40em;
	width: 100%;
	margin-top: -5em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	h2 {
		color: $grayMediumDark;
		font-size: 1.5em;
		font-weight: 300;
	}
	ul {
		margin-left: auto;
		margin-right: auto;
		li {
			vertical-align: top;
			width: 28%;
			display: inline-block;
			text-align: center;
			h3 {
				color: $blueVVDark;
				font-size: 1.2em;
				font-weight: 400;
			}
			p {
				font-size: 0.9em;
				line-height: 1.5em;
				font-weight: 300;
				color: $grayVeryDark;
			}
			span {
				color: $gbMedium;
			}
		}
	}
	h4 {
		margin-top: 4em;
		color: $grayMediumDark;
		font-size: 1.2em;
		font-weight: 200;
	}
}

.careers-chicago {

}

/* Contact */
#title {font-size: 1.2em; font-weight: 400; color: $grayVeryDark; margin-top: 2em; margin-bottom: 1.5em;}
.contact-sidebar {
	display: inline-block;
	vertical-align: top;
	width: 38%;
	padding: 1em;
	background: $grayVeryLight;
	border-radius: 6px;
	h3 {
		margin-top: 0em;
		font-size: 1em;
		font-weight: 400;
	}
	h4 {
		font-size: 1em;
		font-weight: 400;
	}
	p {
		font-size: 0.9em;
		font-weight: 300;
	}
}

.contact-content {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	margin-left: 3em;
	padding-bottom: 5em;
	select {height: 3em;}
	li {
		list-style: none;
	}
	input {width: 20em;}
}

.commit {text-align: right;}

/* Advertise */

/* Managers */

/* Partners */

/* Press */

/* General */

.static-content {
	width: 80%;
	min-height: 30em;
	margin-top: 4em;
	margin-left: auto;
	margin-right: auto;
	padding: 2% 4%;
	border: 1px solid $grayMedium;
	border-radius: 4px;
	background: white;
	h1 {
		margin-bottom: 1em;
		text-align: left;
	}
	h2 {
		margin-top: 2em;
		margin-bottom: 0.5em;
		font-size: 1.1em;
		color: $offBlack;
		text-align: left;
	}
	h3 {
		margin-bottom: 0.5em;
		font-size: 1.1em;
		color: $offBlack;
		text-align: left;
	}
	p {
		color: $offBlack;
		font-size: 0.86em;
		line-height: 1.3em;
	}
	span {
		font-weight: 600;
	}
	ul {
		li {
			line-height: 1.3em;
			margin-bottom: 1.3em;
		}
	}
}

.static-selector {
	width: 100%;
	height: 4em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2.5em;
	border-bottom: 1px solid $grayLight;
	ul {
		margin-left: 0em;
		li {
			padding: 1% 3%;
			display: inline-block;
			border-radius: 5px;
			color: $grayVeryDark;
			&:hover{
				background: $grayVeryLight;
				color: $offBlack;
			}
		}
	}
}

.static-selected {
	background: $grayVeryLight;
	font-weight: 600;
}

/* Terms & Privacy */

.terms-and-privacy-toggle {

}

.terms-content {

}

/* Community Guidelines */

/* All Cities */
.all-cities {
	width: 110%;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10em;
	padding-left: 2.5em;
	h1 {
		margin: 2em 0 2em 0;
		padding: 0;
		font-weight: 400;
		letter-spacing: 1px;
	}
	ul {
		width: 16.8%;
		display: inline-block;
		vertical-align: top;
		li {
			width: 100%;
		}
	}
	span {
		color: $gbMedium;
	}
}

/* General */

.hero-content {
	width: 60em;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
	border-radius: 8px;
	text-align: center;
	h1 {
			padding: 0;
			margin: 0;
			color: $grayVeryLight;
			font-size: 2.6em;
			font-weight: 200;
			text-shadow: 0 0 5px #000; -moz-text-shadow: 0 0 5px #000;
		}
}

.hero-desc-holder {
	width: 35em;
	margin-top: 1.5em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	p {
		color: white;
		font-size: 1.2em;
		font-weight: 100;
		text-shadow: 0 0 5px #000; -moz-text-shadow: 0 0 5px #000;
	}	
}

/* Error pages */

.error-hero {
	width: 100%;
	height: 33em;
	background: url("construction.png") no-repeat;
	background-size: 100%;
}

.error-page-hero {
	h1 {
		padding: 0;
		margin: 0;
		color: $grayVeryLight;
		font-size: 2.6em;
		font-weight: 200;
		text-shadow: 0 0 10px #502019; -moz-text-shadow: 0 0 10px #502019;
	}
}

.error-page-subtitle {
	p {
		color: white;
		font-size: 1.2em;
		font-weight: 200;
		text-shadow: 0 0 10px #502019; -moz-text-shadow: 0 0 5px #502019;
	}
}


