<% content_for :head do %>
	<%= stylesheet_link_tag 'reviews' %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag "static_helpers" %>
<% end %>

<% provide(:title, "Write a new review") %>

<div class="bg-texture-wrapper">
	<div class="container">
		<%= render 'newreviewform' %>
	</div>
</div>	