<% content_for :head do %>
	<%= stylesheet_link_tag 'reviews' %>
<% end %>

<% provide(:title, "Write a new review") %>

<div class="bg-texture-wrapper">
	<div class="container">
		<%= render 'newreviewform' %>
	</div>
</div>	