<div class="em-buffer-5"></div>

<div class="hero">
	<div class="container">

		<div class="hero-text">
			<h1>The inside scoop on apartments</h1>
		</div>

		<div class="hero-search">
			<%= form_tag buildings_path, :method => 'get' do %>
		 	<p>
		    <%= text_field_tag :search, params[:search], placeholder: "City, area, neighborhood, building, address, zip", class: "hero-search-field"%>

		   	<button type="submit" class="hero-search-button">
    		<i class="icon-search icon-large"></i> 
			</button>

		  	</p>
			<% end %>
		</div>

	</div>
</div>

<div class="home-stripe">
	<div class="container">

	</div>
</div>