<div class="em-buffer-5"></div>

<div class="hero">
	<div class="container">

		<div class="hero-text">
			<h1>The inside scoop on apartments</h1>
		</div>

		<div class="hero-search">
		</div>

	</div>
</div>

<div class="home-stripe">
	<div class="container">
		<% form_tag projects_path, :method => 'get' do %>
	 	<p>
	    <%= text_field_tag :search, params[:search] %>
	    <%= submit_tag "Search", :name => nil %>
	  	</p>
		<% end %>
	</div>
</div>