<div class="hero">

	<div class="buffer"></div>
		<div class="container">

			<h1 id="hero-text">Take the hassle out of looking for apartments</h1>

			<div class="calltoaction">
				<button class="btn btn-primary btn-vlarge">Get Started</button>
			</div>

			<div>
			</div>
			
			<div class="hero-details">
				<ul>
					<li>3,120 <br> apartments scouted</li>
					<li>314 <br> leases signed</li>
					<li>7,312 <br> hours saved</li>
					<li>789 <br> scouts</li>
					<li>129 <br> outstanding searches</li>
				</ul>
			</div>

	</div>
</div>