<div class="em-buffer-4"></div> <!-- To clear the header -->

<div class="searchbar">
	<div class="container center">
			<%= form_tag buildings_path, :method => 'get' do %>
		 	<p>
		    <%= text_field_tag :search, params[:search], placeholder: "Building name, address, street, city, zip, or neighborhood", class: "searchbar-field"%>
		    
		    <%= submit_tag "search", :name => nil, class: "btn btn-small bottom-buffer" %>
		  	</p>
			<% end %>
	</div>
</div>